@font-face{
    font-family: "Whitney Light";
    src: url(./assets/fonts/whitneylight.woff) format("woff");
}
@font-face{
    font-family: "Whitney Medium";
    src: url(./assets/fonts/whitneymedium.woff) format("woff");
}
@font-face{
    font-family: "Whitney Bold";
    src: url(./assets/fonts/whitneybold.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

html{
    scroll-behavior: smooth;
    
}

a{
    text-decoration: none;
    display: inline-block;
}

.navbar{
    height: 70px;
    width: 100%;
    background-color: black;
}

.nav-title{
    font-size: 35px;
    height: 40px;
    width: 200px;
    /* background-color: red; */
    margin-left: 10px;
    margin-top: 20px;
    float: left;
    /* color: #2e8953; */
    color: #28a745;
    font-family: "Share Tech Mono";
}

.title-image{
    float: left;
    margin-top: 12px;
    margin-left: 90px;
    /* background-color: red; */
}

.nav-list{
    width: 800px;
    height: 40px;
    display: flex;
    /* float: left; */
    /* background-color: rebeccapurple; */
    margin-top: 28px;
    margin-left: 300px;
    float: left;
    font-size: 27px;
}

a{
    text-decoration: none;
    display: inline-block;
    color: white;
}

.nav-link{
    margin-right: 50px;
}

.nav-list a:hover{
    text-decoration: underline;
    color: #28a745;
}

.nav-list a{
    font-family: "Share Tech Mono";
}

.mainhalf1{
    height: 643px;
    width: 50%;
    float: left;
    /* background-color: red; */
    background-color: black;
}

.mainhalf2{
    height: 643px;
    width: 50%;
    float: right;
    /* background-color: blue; */
    background-color: black;
    font-family: "Share Tech Mono";
}

.alanturingimg{
    width: 530px;
    height: 530px;
    margin-left: 100px;
    margin-top: 50px;
}

.mainp1{
    font-size: 20px;
    margin-top: 140px;
    color: gray;
}

.maintitle{
    font-size: 64px;
    color: white;
    margin-top: 2%;
}

.maindesc{
    color: #28a745;
    margin-top: 25px;
}

.regst{
    font-size: 20px;
    color: white;
    margin-top: 3%;
}

.regbutton{
    height: 40px;
    width: 140px;
    background-color: #28a745;
    /* margin-left: 20px; */
    border-radius: 250px;
    position: absolute;
    margin-top: 1.5%;
    text-align: center;   
}

.register{
    font-family: "Share Tech Mono";
    color: white;
    font-size: 23px;
    margin-top: 7px;
}

.regbutton a:hover{
    text-decoration: underline;
}

.arrbutton{
    font-size: 37px;
    color: white;
    margin-top: 220px;
    margin-left: -18px;
}

.abouthalf1{
    height: 701px;
    width: 50%;
    float: left;
    /* background-color: red; */
    background-color: black;
}

.abouthalf2{
    height: 701px;
    width: 50%;
    float: right;
    /* background-color: blue; */
    background-color: black;
}

.abouttitle{
    color: #28a745;;
    font-size: 50px;
    margin-left: 90px;
    font-family: "Share Tech Mono";
    text-decoration: underline;
}

.abouttc{
    color: white;
    font-size: 30px;
    margin-left: 90px;
    margin-top: 1.5%;
    font-family: "Share Tech Mono";
}

.tcdesc{
    color: white;
    font-size: 19px;
    margin-left: 90px;
    margin-top: 1.5%;
    font-family: "Share Tech Mono";
}

.aboutimgright{
    height: 300px;
    margin-left: 70px;
    margin-top: 70px;
}

.aboutimgleft{
    height: 301px;
    margin-left: 170px;
    margin-top: 50px;
}

.hitw{
    color: white;
    margin-left: 70px;  
    font-size: 30px;
    font-family: "Share Tech Mono";
    margin-top: 20px;
}

.hitwdesc{
    color: white;
    font-size: 24px;
    margin-left: 70px;
    margin-top: 1.5%;
    font-family: "Share Tech Mono";
    padding: 5px;
}

.schedule-title{
    height: 100px;
    width: 100%;
    /* background-color: green; */
    float: left;
    background-color: black;
}

.schedule-title-text{
    color: #28a745;
    font-size: 50px;
    margin-left: 90px;
    font-family: "Share Tech Mono";
    text-decoration: underline;
    margin-top: 15px;
    /* background-color: black; */
    /* background-color: rebeccapurple; */
}

.schedule-main{
    height: 490px;
    width: 100%;
    float: left;
    background-color: black;
    /* background-color: red; */
}

.regbox{
    width: 600px;
    height: 210px;
    background-color: rgb(22, 26, 22);
    float: left;
    margin-left: 130px;
    margin-top: 20px;
    border-radius: 20px;
    margin-right: -90px;
    font-family: "Share Tech Mono";
}

.regb{
    /* margin-top: -100px; */
    margin-top: 10px;
    margin-left: 10px;
    font-size: 60px;
    color: #28a745;
}

.reg-date{
    color: white;
    margin-top: 10px;
    margin-left: 15px;
}

.reg-title{
    color: #28a745;
    margin-top: 8px;
    margin-left: 13px;
}

.reg-text{
    margin-top: 10px;
    color: white;
    margin-left: 13px;
    font-size:18px;
}

.footer-main{
    width: 100%;
    height: 500px;
    background-color: aliceblue;
    float: left;
    font-family: "Share Tech Mono";
}

.footer-div{
    height: 430px;
    width: 300px;
    background-color: red;
    float: left;
    margin-left: 150px;
    margin-top: 50px;
}

.footer-text-1{
    font-size: 40px;
    color: #28a745;
}

.envelope{
    color: #28a745;
    font-size: 35px;
    margin-top: 3px;
    margin-left: -280px;
}

.footer-email{
    float: left;
    margin-left: 40px;
    margin-top: 6px;
    font-size: 20px;
    /* color: #28a745; */
}

.footer-text-social{
    font-size: 30px;
}

.footer-link-img{
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 2px;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 40px;
}

/* .instagram .github .linkedin .twitter .facebook .medium{
    color: #28a745;
} */

.twitter, .github, .instagram, .facebook, .linkedin, .medium{
    color: #28a745;
}